*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg,#d2001a,#7462ff);
    height: 100vh;
}
#heading1{
   background-color: black;
   color: white;
   text-align: center;
   font-size: 3rem;
   padding: 10px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5.5rem;
}
.choice{
    height: 180px;
    width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.choice:hover{
    background-color: rgb(65, 63, 63);
    cursor: pointer;
}
img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 5rem;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    gap: 10rem;
    margin-top: 5rem;
}
.message{
    text-align: center;
    margin-top: 6rem;
}
  
.score{
    display: inline;
    font-size: 2rem;
    color: white;
    background-color: black;
    padding: 14px;
    border-radius: 7px;
}
@media(max-width:676px){
    body{
        overflow: hidden;
        color: white;
        font-weight: bold;
    }
    #heading1{
      font-size: 2.5rem;
      height: 3rem
    }
    img{
        height: 6rem;
        width: 6rem;
    }
    .choice{
        height: 6rem;
        width: 6rem;
       border-radius: 5%;
    }
    .count{
        font-size: 1.5rem;
       
    }
    .score{
        font-size: 0.8rem;
    }
}
